USE [master]
GO
/****** Объект:  Database [ManufacturerDb]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
CREATE DATABASE [ManufacturerDb]
GO
USE [ManufacturerDb]
GO
/****** Объект:  Table [dbo].[Company]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Insurance] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](80) NOT NULL,
	[IsCustomer] [bit] NOT NULL,
	[IsManufacturer] [bit] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Customer]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[INN] [nchar](12) NOT NULL,
	[Addres] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[IsSalesman] [bit] NOT NULL,
	[IsBuyer] [bit] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacture]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[IsProduct] [bit] NOT NULL,
	[Code] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Manufacture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Material]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[UnitId] [int] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Order]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderProduct]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[UnitId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Specification]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[Amount] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_Specification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SpecificationMaterial]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecificationId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
 CONSTRAINT [PK_SpecificationMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SystemUser]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_SystemUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Unit]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserRole]    Дата создания скрипта: 23.06.2026 16:42:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [Name], [Insurance], [Phone], [Address], [IsCustomer], [IsManufacturer]) VALUES (1, N'Молочная ферма "Заря"', N'ОСАГО', N'+7-495-123-45-67', N'Москва, ул. Ленина, д. 1', 1, 1)
INSERT [dbo].[Company] ([Id], [Name], [Insurance], [Phone], [Address], [IsCustomer], [IsManufacturer]) VALUES (2, N'Молочный завод "Белая ночь"', N'ОСАГО', N'+7-495-987-65-43', N'Москва, пр. Мира, д. 15', 0, 1)
INSERT [dbo].[Company] ([Id], [Name], [Insurance], [Phone], [Address], [IsCustomer], [IsManufacturer]) VALUES (3, N'Магазин "Продукты"', N'КАСКО', N'+7-903-123-45-67', N'Ростов-на-Дону, ул. Таганрогская, д. 5', 1, 0)
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
INSERT [dbo].[Customer] ([Id], [Name], [INN], [Addres], [Phone], [IsSalesman], [IsBuyer]) VALUES (0, N'ООО "Подстава"', N'345345876546', N'г. Москва', N'+79554763524', 1, 0)
INSERT [dbo].[Customer] ([Id], [Name], [INN], [Addres], [Phone], [IsSalesman], [IsBuyer]) VALUES (1, N'ООО "Поставка"', N'263200451236', N'г.Пятигорск', N'+79198634595', 1, 1)
INSERT [dbo].[Customer] ([Id], [Name], [INN], [Addres], [Phone], [IsSalesman], [IsBuyer]) VALUES (2, N'ООО "Кинотеатр Квант"', N'263200451276', N'г. Железноводск, ул. Мира, 123', N'+79884581553', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Manufacture] ON 

INSERT [dbo].[Manufacture] ([Id], [ItemId], [IsProduct], [Code]) VALUES (1, 1, 1, N'PRD001')
INSERT [dbo].[Manufacture] ([Id], [ItemId], [IsProduct], [Code]) VALUES (2, 2, 1, N'PRD002')
INSERT [dbo].[Manufacture] ([Id], [ItemId], [IsProduct], [Code]) VALUES (3, 3, 1, N'PRD003')
SET IDENTITY_INSERT [dbo].[Manufacture] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [Name], [Price], [UnitId]) VALUES (1, N'Молоко', CAST(60.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[Material] ([Id], [Name], [Price], [UnitId]) VALUES (2, N'Сливки', CAST(80.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[Material] ([Id], [Name], [Price], [UnitId]) VALUES (3, N'Йогурт', CAST(50.00 AS Decimal(8, 2)), 1)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [Number], [Date], [TotalPrice]) VALUES (1, 1001, CAST(N'2026-05-03T00:00:00.000' AS DateTime), CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([Id], [Number], [Date], [TotalPrice]) VALUES (2, 1002, CAST(N'2026-06-03T00:00:00.000' AS DateTime), CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([Id], [Number], [Date], [TotalPrice]) VALUES (3, 1003, CAST(N'2026-07-03T00:00:00.000' AS DateTime), CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount], [TotalPrice]) VALUES (1, 1, 1, 10, CAST(700.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount], [TotalPrice]) VALUES (2, 1, 2, 20, CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount], [TotalPrice]) VALUES (3, 2, 3, 15, CAST(3000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Price], [UnitId]) VALUES (1, N'Молочный напиток', CAST(70.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[Product] ([Id], [Name], [Price], [UnitId]) VALUES (2, N'Йогурт натуральный', CAST(50.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[Product] ([Id], [Name], [Price], [UnitId]) VALUES (3, N'Масло сливочное', CAST(200.00 AS Decimal(8, 2)), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Specification] ON 

INSERT [dbo].[Specification] ([Id], [ProductId], [ManufacturerId], [Amount]) VALUES (1, 1, 1, CAST(100.00 AS Decimal(8, 2)))
INSERT [dbo].[Specification] ([Id], [ProductId], [ManufacturerId], [Amount]) VALUES (2, 2, 2, CAST(200.00 AS Decimal(8, 2)))
INSERT [dbo].[Specification] ([Id], [ProductId], [ManufacturerId], [Amount]) VALUES (3, 3, 1, CAST(50.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[Specification] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecificationMaterial] ON 

INSERT [dbo].[SpecificationMaterial] ([Id], [SpecificationId], [MaterialId]) VALUES (1, 1, 1)
INSERT [dbo].[SpecificationMaterial] ([Id], [SpecificationId], [MaterialId]) VALUES (2, 2, 3)
INSERT [dbo].[SpecificationMaterial] ([Id], [SpecificationId], [MaterialId]) VALUES (3, 3, 4)
SET IDENTITY_INSERT [dbo].[SpecificationMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemUser] ON 

INSERT [dbo].[SystemUser] ([Id], [Login], [Password], [IsBlocked], [CustomerId], [RoleId]) VALUES (1, N'admin', N'123', 0, 1, 1)
INSERT [dbo].[SystemUser] ([Id], [Login], [Password], [IsBlocked], [CustomerId], [RoleId]) VALUES (2, N'admin2', N'321', 1, 2, 1)
INSERT [dbo].[SystemUser] ([Id], [Login], [Password], [IsBlocked], [CustomerId], [RoleId]) VALUES (3, N'user', N'111', 0, 3, 2)
SET IDENTITY_INSERT [dbo].[SystemUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'шт')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'кг')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'л')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[UserRole] ([Id], [Name]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Manufacture]  WITH CHECK ADD  CONSTRAINT [FK_Manufacture_Material] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Manufacture] CHECK CONSTRAINT [FK_Manufacture_Material]
GO
ALTER TABLE [dbo].[Manufacture]  WITH CHECK ADD  CONSTRAINT [FK_Manufacture_Product] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Manufacture] CHECK CONSTRAINT [FK_Manufacture_Product]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Unit]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Company] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Company]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Product]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecificationMaterial_Material]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationMaterial_Specification] FOREIGN KEY([SpecificationId])
REFERENCES [dbo].[Specification] ([Id])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecificationMaterial_Specification]
GO
ALTER TABLE [dbo].[SystemUser]  WITH CHECK ADD  CONSTRAINT [FK_SystemUser_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[SystemUser] CHECK CONSTRAINT [FK_SystemUser_Customer]
GO
ALTER TABLE [dbo].[SystemUser]  WITH CHECK ADD  CONSTRAINT [FK_SystemUser_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[SystemUser] CHECK CONSTRAINT [FK_SystemUser_UserRole]
GO
USE [master]
GO
